/* card.css */

/* Card icons */
.icon-style {
  font-size: 48px;
  color: rgb(4, 147, 97);
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

/* Card styling and hover */
.custom-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.8s ease;
  opacity: 0;
  transform: translateY(50px);
}

.custom-card.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.custom-card:hover {
  transform: translateY(-10px);
}

.custom-card h5 {
  transition: color 0.3s ease;
}

.custom-card:hover h5 {
  color: rgb(4, 147, 97);
}
